{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Обо мне</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to codemy ecommerce</p>
                </div>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
<p align="justify">
     <br/><br/>
                       Привет! Меня зовут Швед Егор мне 26 лет, и я создатель этого проекта -- интернет-магазина. Я занимаюсь web-разработкой и стремлюсь к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.

Я начал изучать web-разработку 6 месяцев назад (увлекся програмированием в 25 лет) и этот проект является частью моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрел, и создать максимально полезный и удобный магазин.

Если вы хотите связаться со мной, то можете  посетить мою страницу в социальных сетях, где я буду рад ответить на ваши вопросы и обсудить возможности сотрудничества. Ссылки на них расположены ниже.

Спасибо, что посетили мой проект! Другие мои проекты можно также посмотреть на моей странице GitHub
</p>
                        <br/><br/>
                    </div>
                </center>

 </section>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
        <section>
            <h0 class="display-4 fw-bolder">Мои ресурсы</h0>
            <ul>
                <a href="https://github.com/EgorShved25"><li><i class="fa-brands fa-github-alt fa-3x"></i></li></a>
                <a href="https://t.me/egr998"><li><i class="fa-brands fa-telegram fa-3x"></i></li></a>
            </ul>
        </section>






            </div>
        </div>

{% endblock %}